.table {
    border-collapse: collapse;
    table-layout: fixed;
}
.table th,
.table td {
    border: 1px solid #CCCCCC;
    padding: 5px 10px;
    text-align: left;
}
.table th {
    background-color: #FFFFFF;
}
